.activities {

}

.activities-wrapper {
    display: flex;
    justify-content: space-evenly;
    padding: 70px 0;
    max-width: 1100px;
    margin: 0 auto;
}

.activities .activities-images {
    display: flex;
    flex-wrap: wrap;
    width: 470px;
    max-width: 470px;
    justify-content: center;
}

.activities-images .activity-image {
    width: 220px;
    border: 15px solid white;
    border-radius: 20px;
}

.activities-images .activity-image.first {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.activities-images .activity-image.second {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.activities-images .activity-image.third {
    width: 250px;
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: -14px;
}

.activities .activities-content {
    text-align: center;
    color: white;
}

.activities-content h2 {
    font-size: 2rem;
    margin-bottom: 40px;
}

.activities-content li {
    font-size: 1.4rem;
    margin-bottom: 10px;
}