@import "fonts.css";
@import "typography.css";

@import "components/header.css";
@import "components/about-us.css";
@import "components/menu.css";
@import "components/events.css";
@import "components/activities.css";
@import "components/volunteering.css";
@import "components/contact-us.css";
@import "components/navigation.css";

html {
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
}

.anchor-button {
    color: white;
    background-color: #A45D5D;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.3rem;
    font-family: "Gothic-Regular", sans-serif;
    display: block;
    max-width: 200px;
    text-align: center;
    transition: all 0.3s ease-in;
    border: 1px solid #A45D5D;
}

.anchor-button:hover {
    background: transparent;
    color: #A45D5D
}

.vertical-separator {
    width: 1px;
    background: #A05959;
    display: block;
}

.background-wrapper {
    position: relative;
}

.background-wrapper .background-wrapper-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

.background-wrapper::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
    top: 0;
}

.main-wrapper {
    display: flex;
    height: fit-content;
}

main {
    width: 100%;
}
